{% extends 'base/base.html' %}
{% load static %}
{% block content %}

{% include 'base/header.html'%}

<div class="admin-inner-panel">
    <div class="admin-inner-left">
        {% include 'base/navbar.html' %}
    </div>
    <div class="admin-inner-right">
        {% for message in messages %}
        <div class="alert alert-primary">
            {{message}}
        </div>
        {% endfor %}

<form action=""  id="termcondition" method="POST" enctype="multipart/form-data">

                    {% csrf_token %}


                    <div class="card" style="width:95%">
                        <div class="card-body">
                            <h4 class="card-title">Edit Pages </h4>
                            <div class="col-md-12">

                                <input class="form-control" type="hidden" value="{{terms.slug}}" name="slug">

                                <div class="form-group row">
                                    <label class="col-xl-2 col-lg-2 col-form-label">
                                        Title </label>
                               <div class="col-lg-10 col-xl-10">

                                <input class="form-control" type="text" value="{{terms.title}}" name="title">
                                    </div>
                                </div>
                                
                             {% if  terms.slug == 'Home-Who-we-are' or terms.slug == 'Home-Our-Features' %}   
                               <div class="form-group row">
                                    <label hidden class="col-xl-2 col-lg-2 col-form-label">
                                        image </label>
                                    <div class="col-lg-10 col-xl-10">
                                        <input hidden id="imgInp" name="img2" value="/media/{{terms.image}}" type="file"/>
                                        <img hidden src="/media/{{terms.image}}" style="height: 140px" alt="" default="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.w3schools.com%2Fhowto%2Fhowto_css_image_avatar.asp&psig=AOvVaw2rbwwUa8b8iFk78lr_0m2E&ust=1645271373376000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCKDaptCXifYCFQAAAAAdAAAAABAD"/>

                                    </div>
                                  
                                </div>
                            {% else %}
                            <div class="form-group row">
                                    <label  class="col-xl-2 col-lg-2 col-form-label">
                                        image </label>
                                    <div class="col-lg-10 col-xl-10">
                                        <input  id="imgInp" name="img2" value="/media/{{terms.image}}" type="file"/>
                                        <img  src="/media/{{terms.image}}" style="height: 140px" alt="" default="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.w3schools.com%2Fhowto%2Fhowto_css_image_avatar.asp&psig=AOvVaw2rbwwUa8b8iFk78lr_0m2E&ust=1645271373376000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCKDaptCXifYCFQAAAAAdAAAAABAD"/>

                                    </div>
                                  
                                </div>
                            {% endif %}
                             {% if terms.slug == 'Home-Who-we-are' or terms.slug == 'section-5' or terms.slug == 'Home-Build-your-best-&-creative-developmen'%}   
                               <div class="form-group row">
                                    <label class="col-xl-2 col-lg-2 col-form-label">
                                        Text </label>
                               <div class="col-lg-10 col-xl-10">

                                <input class="form-control" type="text" value="{{terms.text}}" name="text">
                                    </div>
                                </div>
                                {% endif %}
                                <div class="form-group row">
                                    <label class="col-xl-2 col-lg-2 col-form-label">
                                        Content </label>
                                    <div class="col-lg-10 col-xl-10">
                                        <textarea onkeyup="editor()" id="editor" class="editor" name="editor">{{terms.content}}</textarea>

                                    </div>
                                </div>
                               
                                <div class="form-group row">
                                    
                                </div>
                                

                            </div>
                            

                              <button type="submit" class="btn btn-inverse-success btn-fw">Submit</button>
                            <a type="submit" href="/admin/Cms_Pages/" class="btn btn-inverse-dark btn-fw">Cancle</a>


                           

                            {% comment %} {{u.title}} {% endcomment %}

                        </div>
                    </div>

                </form>
            </div>
        </div>
    <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
      
   
    </script>



    {% endblock content %}