{% extends 'base/base.html' %}
{% load static %}
{% block content %}

{% include 'base/header.html'%}

{% comment %} <body style="background:#f4f5f7"> {% endcomment %}
<div class="admin-inner-panel">
    <div class="admin-inner-left">
        {% include 'base/navbar.html' %}
    </div>
    <div class="admin-inner-right">
      
  <form action="" id="addjobs" method="POST">

                {% csrf_token %}


                <div class="card" style="width:95%;">
                    <div class="card-body">
                        <div class="col-md-12">
                            <h4 class="card-title">Edit Category</h4>

                            <input class="form-control" type="hidden" value="{{cat.id}}" name="id">

                            <div class="form-group row">
                                <label class="col-xl-2 col-lg-2 col-form-label">
                                    Name </label>
                                <div class="col-lg-10 col-xl-10">

                                    <input id="Name" class="form-control" type="text" placeholder="Name" value="{{cat.name}}" name="name">
                                </div>
                            </div>
                            {% comment %} <div class="form-group row">
                                <label class="col-xl-2 col-lg-2 col-form-label">
                                    Limit </label>
                                <div class="col-lg-10 col-xl-10">
                            
                                    <input required id="Limit" class="form-control" placeholder="2" type="number" min="0" step="1" value="" name="limit">
                                </div>
                            </div> {% endcomment %}
                            <div class="form-group row">
                                <label class="col-xl-2 col-lg-2 col-form-label">
                                   Week hour </label>
                                <div class="col-lg-10 col-xl-10">

                                    <input required id="" class="form-control"  placeholder="30" type="number" min="0" step="1" value="{{cat.week_hour}}" name="Week">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-2 col-lg-2 col-form-label">
                                   Leave day  </label>
                                   
                                <div class="col-lg-10 col-xl-10">
                                   <select name="Leave[]" class="js-example-basic-multiple w-100" multiple="multiple">

                                                   {% for i in days %}
                                                    
                                                    <option value="{{i.0}}" {% if i.0 in select_day %} selected {% endif %}>{{i.1}}</option> 
                                                    {% endfor %}
                                
                                                    </select>  
                                {% comment %} <select id=""required name="Leave" class="form-select" aria-label="Default select example">
                                                <option  disabled> Select Option </option>
                                            {% for i in u %}
                                            <option value="{{i.0}}" {% if cat.leave_day in i %} selected {% endif %} >{{i.1}}</option>
                                             {% endfor %}
                                            </select>       {% endcomment %}
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-2 col-lg-2 col-form-label">
                                    Shift diffrence </label>
                                <div class="col-lg-10 col-xl-10">

                                    <input required id="" class="form-control" placeholder="2" type="number" min="0" step="1" value="{{cat.shift_diffrence}}" name="Shift">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-2 col-lg-2 col-form-label">
                                    Status </label>
                                <div class="col-lg-10 col-xl-10">

                                    {% csrf_token %}
                                    <select required  id="status_check" name="status" class="form-select status"
                                        aria-label="Default select example" onchange="">
                                        <option selected disabled> Select Option </option>

                                        <option value="1" {% if cat.status == True %} selected {% endif %}>Activate</option>

                                        <option value="0" {% if cat.status == False %} selected {% endif %}>Deactivate</option>
                                    </select>





                                </div>

                            </div>


                        </div>
                        <button type="submit" class="btn btn-inverse-success btn-fw" >Submit</button>
                             <a href="/admin/category/" class="btn btn-inverse-dark btn-fw">Cancel</a>

                    </div>
                </div>

            </form>



{% endblock content %}