.error{
    color:red
}
/* .toast-message{
    color:red
} */

/* #toast-container > .toast-error {
    content: "\f00C";
    margin-top: 110px;
    background-color:red;
    font-size: 15px;
} */

#toast-container > .toast-success {
    content: "\f00C";
    margin-top: 110px;
    background-color:green;
    font-size: 15px;
}