{% extends 'base/base.html' %}
{% load static %}
{% block content %}

{% include 'base/header.html'%}

<div class="admin-inner-panel">
    <div class="admin-inner-left">
        {% include 'base/navbar.html' %}
    </div>
    <div class="admin-inner-right">
        {% for message in messages %}
        <div class="alert alert-primary">
            {{message}}
        </div>
        {% endfor %} 
   <form id="addglobal" method="POST" enctype="multipart/form-data">

                                {% csrf_token %}

  <div class="card" style="width:95%;">
                        <div class="card-body">
                            <h4 class="card-title">Add GLobal Details</h4>
                                <div class="col-md-12" >

                                    <input class="form-control" type="hidden" value="{{userdata.0.id}}" name="id">

                                  
                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">
                                            Name </label>
                                        <div class="col-lg-10 col-xl-10">

                                            <input class="form-control" placeholder="John" type="text" value=""
                                                name="name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label"> Profile Pic </label>
                                        <div class="col-lg-10 col-xl-10">
                                            <input id="imgInp" name="image" placeholder="image" value="{% static 'avatar.png' %}" type="file">
                                            <img src="{% static 'avatar.png' %}" style="height:140px" alt="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">
                                            Email </label>
                                        <div class="col-lg-10 col-xl-10">
                                            <input class="form-control" placeholder="John@gmail.com" type="email" value=""
                                                name="email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">
                                            Facebook Link </label>
                                        <div class="col-lg-10 col-xl-10">
                                    
                                            <input class="form-control"  placeholder="www.facebook.com" type="text" value="" name="facebook">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">
                                            Instagram Link </label>
                                        <div class="col-lg-10 col-xl-10">
                                    
                                            <input class="form-control" placeholder="www.instagram.com" type="text" value="" name="instagram">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">
                                            Twitter Link </label>
                                        <div class="col-lg-10 col-xl-10">
                                    
                                            <input class="form-control" placeholder="www.twitter.com" type="text" value="" name="twitter">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">
                                            Linkdin Link </label>
                                        <div class="col-lg-10 col-xl-10">
                                    
                                            <input class="form-control" placeholder="www.linkdin.com" type="text" value="" name="linkdin">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-2 col-lg-2 col-form-label">
                                            Pintrest Link </label>
                                        <div class="col-lg-10 col-xl-10">
                                    
                                            <input class="form-control" placeholder="www.pintrest.com" type="text" value="" name="pintrest">
                                        </div>
                                    </div>
                                <div class="form-group row">
                                    <label class="col-xl-2 col-lg-2 col-form-label">
                                        Details </label>
                                    <div class="col-lg-10 col-xl-10">
                                        <textarea name="editor" placeholder="Enter Your Discripion here"></textarea>
                                
                                    </div>
                                </div>

                                </div>
                                      <button type="submit" class="btn btn-inverse-success btn-fw">Submit</button>
              <a href="/admin/global/add/" class="btn btn-light">Cancel</a>




                            </form>



                        </div>
                    </div>
        <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
        <script>
            CKEDITOR.replace('editor');
        </script>
        {% endblock content%}