{% load static %}
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome To | Staff Hiring admin</title>
    <!-- plugins:css -->

     <link rel="icon" href="{% static 'staff_admin/images/logo-white.png' %}" type="image/x-icon" />
     <link rel="stylesheet" href="{% static 'staff_admin/css/chat.css' %}">

    <link rel="stylesheet" href="{% static 'staff_admin/vendors/feather/feather.css' %}">

    <link rel="stylesheet" href="{% static 'staff_admin/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'staff_admin/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'staff_admin/vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'staff_admin/vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'staff_admin/vendors/css/vendor.bundle.base.css' %}">
        <link rel="stylesheet" href="{% static 'staff_admin/vendors/select-2-bootstrap-theme/select2-bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'staff_admin/vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'staff_admin/css/vertical-layout-light/style.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'vendors/select-2-bootstrap-theme/select2-bootstrap.min.css' %}"> {% endcomment %}



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'js/select.dataTables.min.css' %}"> -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> {% endcomment %}

    <!-- endinject -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   


<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  <link rel="stylesheet" href="{% static 'staff_admin/css/style/myCss.css' %}">
    <link rel="stylesheet" href="{% static 'staff_admin/css/empcss/css/style.css' %}">


  {% comment %} Emp Cssssssssssssss {% endcomment %}



 {% comment %} <link rel="stylesheet" href="{% static 'css/empcss/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/empcss/css/bootstrap.css' %}">

  	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/fontawesome.all.css'  %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/empcss/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/empcss/css/fonts/remixicon.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" href="{% static 'css/empcss/css/fonts/stylesheet.css' %}" rel="stylesheet"/> {% endcomment %}

    {% comment %} <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet"/> {% endcomment %}

    {% comment %} <link rel="stylesheet" href="{% static 'css/empcss/css/fontawesome-all.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/empcss/css/fontawesome.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/empcss/css/responsive.css' %}">



    <link rel="stylesheet" href="{% static 'css/empcss/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/empcss/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/empcss/css/mycss.css' %}">
    <link rel="stylesheet" href="{% static 'css/empcss/css/style.css' %}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
 {% endcomment %}


  </head>

{% block content %}
  
{% endblock %}


{% block extra_js %}


{% endblock %}
  <script src="{% static 'staff_admin/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'staff_admin/vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
  

  <script src="{% static 'staff_admin/vendors/select2/select2.min.js' %}"></script>
 <script src="{% static 'staff_admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script> 
  <script src="{% static 'staff_admin/js/off-canvas.js' %}"></script>
  <script src="{% static 'staff_admin/js/hoverable-collapse.js' %}"></script>
 <script src="{% static 'staff_admin/js/template.js' %}"></script>
  <script src="{% static 'staff_admin/js/settings.js' %}"></script>
  <script src="{% static 'staff_admin/js/todolist.js' %}"></script>
  <script src="{% static 'staff_admin/js/file-upload.js' %}"></script>
  <script src="{% static 'staff_admin/js/typeahead.js' %}"></script>


  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'staff_admin/vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'staff_admin/vendors/progressbar.js/progressbar.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
  <script src="{% static 'staff_admin/myjquery.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'staff_admin/js/dashboard.js' %}"></script>
  <script src="{% static 'staff_admin/js/Chart.roundedBarCharts.js' %}"></script>
  

<script src="{% static 'staff_admin/js/select2.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
      
<script>
  var K = {
      1: ["US"], 7: ["RU", "KZ"], 20: ["EG"], 27: ["ZA"], 30: ["GR"], 31: ["NL"], 32: ["BE"], 33: ["FR"], 34: ["ES"], 36: ["HU"], 39: ["IT", "VA"], 40: ["RO"], 41: ["CH"], 43: ["AT"], 44: ["GB", "GG", "IM", "JE"], 45: ["DK"], 46: ["SE"], 47: ["NO", "SJ"], 48: ["PL"], 49: ["DE"], 51: ["PE"], 52: ["MX"], 53: ["CU"], 54: ["AR"], 55: ["BR"], 56: ["CL"], 57: ["CO"], 58: ["VE"], 60: ["MY"], 61: ["AU", "CC", "CX"], 62: ["ID"], 63: ["PH"], 64: ["NZ"], 65: ["SG"], 66: ["TH"], 81: ["JP"], 82: ["KR"], 84: ["VN"],
      86: ["CN"], 90: ["TR"], 91: ["IN"], 92: ["PK"], 93: ["AF"], 94: ["LK"], 95: ["MM"], 98: ["IR"], 211: ["SS"], 212: ["MA", "EH"], 213: ["DZ"], 216: ["TN"], 218: ["LY"], 220: ["GM"], 221: ["SN"], 222: ["MR"], 223: ["ML"], 224: ["GN"], 225: ["CI"], 226: ["BF"], 227: ["NE"], 228: ["TG"], 229: ["BJ"], 230: ["MU"], 231: ["LR"], 232: ["SL"], 233: ["GH"], 234: ["NG"], 235: ["TD"], 236: ["CF"], 237: ["CM"], 238: ["CV"], 239: ["ST"], 240: ["GQ"], 241: ["GA"], 242: ["CG"], 243: ["CD"], 244: ["AO"], 245: ["GW"], 246: ["IO"], 247: ["AC"], 248: ["SC"], 249: ["SD"], 250: ["RW"], 251: ["ET"], 252: ["SO"],
      253: ["DJ"], 254: ["KE"], 255: ["TZ"], 256: ["UG"], 257: ["BI"], 258: ["MZ"], 260: ["ZM"], 261: ["MG"], 262: ["RE", "YT"], 263: ["ZW"], 264: ["NA"], 265: ["MW"], 266: ["LS"], 267: ["BW"], 268: ["SZ"], 269: ["KM"], 290: ["SH", "TA"], 291: ["ER"], 297: ["AW"], 298: ["FO"], 299: ["GL"], 350: ["GI"], 351: ["PT"], 352: ["LU"], 353: ["IE"], 354: ["IS"], 355: ["AL"], 356: ["MT"], 357: ["CY"], 358: ["FI", "AX"], 359: ["BG"], 370: ["LT"], 371: ["LV"], 372: ["EE"], 373: ["MD"], 374: ["AM"], 375: ["BY"], 376: ["AD"], 377: ["MC"], 378: ["SM"], 380: ["UA"], 381: ["RS"], 382: ["ME"], 383: ["XK"], 385: ["HR"],
      386: ["SI"], 387: ["BA"], 389: ["MK"], 420: ["CZ"], 421: ["SK"], 423: ["LI"], 500: ["FK"], 501: ["BZ"], 502: ["GT"], 503: ["SV"], 504: ["HN"], 505: ["NI"], 506: ["CR"], 507: ["PA"], 508: ["PM"], 509: ["HT"], 590: ["GP", "BL", "MF"], 591: ["BO"], 592: ["GY"], 593: ["EC"], 594: ["GF"], 595: ["PY"], 596: ["MQ"], 597: ["SR"], 598: ["UY"], 599: ["CW", "BQ"], 670: ["TL"], 672: ["NF"], 673: ["BN"], 674: ["NR"], 675: ["PG"], 676: ["TO"], 677: ["SB"], 678: ["VU"], 679: ["FJ"], 680: ["PW"], 681: ["WF"], 682: ["CK"], 683: ["NU"], 685: ["WS"], 686: ["KI"], 687: ["NC"], 688: ["TV"], 689: ["PF"], 690: ["TK"],
      691: ["FM"], 692: ["MH"], 800: ["001"], 808: ["001"], 850: ["KP"], 852: ["HK"], 853: ["MO"], 855: ["KH"], 856: ["LA"], 870: ["001"], 878: ["001"], 880: ["BD"], 881: ["001"], 882: ["001"], 883: ["001"], 886: ["TW"], 888: ["001"], 960: ["MV"], 961: ["LB"], 962: ["JO"], 963: ["SY"], 964: ["IQ"], 965: ["KW"], 966: ["SA"], 967: ["YE"], 968: ["OM"], 970: ["PS"], 971: ["AE"], 972: ["IL"], 973: ["BH"], 974: ["QA"], 975: ["BT"], 976: ["MN"], 977: ["NP"], 979: ["001"], 992: ["TJ"], 993: ["TM"], 994: ["AZ"], 995: ["GE"], 996: ["KG"], 998: ["UZ"]
    }
  var c = "{{users.0.country_code}}".replace("+", "");
  

  const phoneInputField = document.querySelector("#phone_cus_register");
  const phoneInput = window.intlTelInput(phoneInputField, {
    initialCountry: K[c] ? K[c][0] : 'us',
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",

  });

  function test() {
      var number = $('#phone_cus_register').val();
      var setPhone = $('#phone1_cus_register').val('')
      if (number) {
        var countryData = phoneInput.getSelectedCountryData();
        // console.log(countryData);
        var code = countryData['dialCode'];

        $("input[name='phone[phoneInput]'").val(number);
        var full = '+' + code + ' ' +number;
        var setPhone = $('#phone1_cus_register').val(full)
      }
    }
</script>

<script>
  $(document).ready(function () {
    var pho = document.getElementById('phone1_cus_register').value;
    if (!(pho == '')) {
      var myArr = pho.split(" ");
      console.log(myArr[1]);

      document.getElementById('phone_cus_register').value = myArr[1];
    }
  });
</script>



<script>
  const phoneInputField1 = document.querySelector("#PhoneNumber1");
    const phoneInput12 = window.intlTelInput(phoneInputField1, {
      utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",

    });
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
   {% if messages %}
                  {% for message in messages %}
                      {% if message.tags == 'success'%}
                            

                          <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                      {% elif message.tags == 'info' %}
                          <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                      {% elif message.tags == 'warning' %}
                          <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                      {% elif message.tags == 'error' %}
                          <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
                      {% endif %}
                  {% endfor %}
              {% endif %}


{% comment %} https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css
https://cdnjs.cloudflare.com

https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js {% endcomment %}