{% extends 'basefile/base.html' %}
{% load static %}
{% block content %}
   <div class="wrapper-inner bg-sky">
    
      <section class="forms_content_sec from-wrap ptb">
         <div class="container">
            <div class="head-line-sd">
               <h2>Change Password</h2>
            </div>
            <div class="form-box-out">
               <form method="POST" id="changepass">
                  {% csrf_token %}

                  <div class="row">
                       <div class="col-md-6">
                         <div class="form-group">
                           <label class="form-label">Old Password</label>
                           <input type="password"  name="pass" class="form-control" placeholder="Enter old password">

                           {% comment %} <input type="password" name-="pass" class="form-control" placeholder="Enter old password"> {% endcomment %}
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="form-group">
                           <label class="form-label">New Password</label>
                           <input type="password" name="newpass" class="form-control" placeholder="Enter new password">
                         </div>
                       </div>
                       <div class="col-md-6">
                         <div class="form-group">
                           <label class="form-label">Confirm new password</label>
                           <input type="password" name="cnewpass" class="form-control" placeholder="Enter confirm new password">
                         </div>
                       </div>
                       
                       <div class="col-md-12 company-info-sec">
                           <div class="text-center mt-4">
                               <button type="submit" class="btn">Submit</button>
                           </div>
                       </div>
                  </div>
               </form>
            </div>
         </div>
      </section>

   </div>
<script>

</script>
{% include "footer.html" %}
{% endblock content %}
