<?php include("header-inner.php"); ?>

   <div class="wrapper-inner bg-sky">
   
      <section class="outer-table-space">
            <div class="container">
               <div class="table-dash-box">
                  <div class="on-query-bx">

                     <div class="row query-inputfill">
                        <div class="col-md-3">
                           <div class="query-profile">
                              <figure>
                                 <img src="images/query-profile.png">
                              </figure>
                              <h5>Joesph Abraham</h5>
                           </div>
                        </div>
                        <div class="col-md-9">
                           <div class="row">
                              <div class="col-sm-6">
                                 <div class="form-group">
                                    <label class="form-label">Position Worked</label>
                                    <input type="text" class="form-control" placeholder="Lorem Ipsum is simply">
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-group">
                                      <label class="form-label">Date</label>
                                      <div class="form-group-icon">
                                        <input type="date" class="form-control" placeholder="10 Feb 2022">
                                        <img src="images/date-icon.svg">
                                      </div>
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-group">
                                    <label class="form-label">Time in</label>
                                    <input type="time" class="form-control" placeholder="9:30AM">
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-group">
                                    <label class="form-label">Time Out</label>
                                    <input type="time" class="form-control" placeholder="7:00AM">
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-group">
                                    <label class="form-label">Break Time</label>
                                    <input type="text" class="form-control" placeholder="45 min">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                     <hr class="gry-bt-line">

                     <div class="row">
                        <div class="col-md-12">
                           <div class="provide-rating">
                              <h6>Provide Rating</h6>
                              <ul class="list-ck-star">
                                 <li><i class="ri-star-line"></i></li>
                                 <li><i class="ri-star-line"></i></li>
                                 <li><i class="ri-star-line"></i></li>
                                 <li><i class="ri-star-line"></i></li>
                                 <li><i class="ri-star-line"></i></li>
                              </ul>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="form-group">
                              <label class="form-label">Query About</label>
                              <textarea type="text" class="form-control" placeholder="Write query"></textarea>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="form-label">Name of the Person</label>
                              <input type="text" class="form-control" placeholder="Enter name">
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="form-label">Position</label>
                              <select class="form-select" aria-label="Default select example">
                                 <option selected="">Select position</option>
                                 <option value="1">Select position</option>
                                 <option value="2">Select position</option>
                                 <option value="3">Three</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="form-group">
                              <label class="form-label">Date</label>
                              <div class="form-group-icon">
                                  <input type="date" class="form-control" placeholder="">
                                  <img src="images/date-icon.svg">
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="text-left mt-1">
                               <button type="button" class="btn">Submit</button>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
      </section>

   </div>

<?php include("footer.php"); ?>