<html>
   {% load static %}
   <head>
      <meta charset="utf-8">
      <title>:: Care Net Staff ::</title>
      <!--responsive-meta-here-->
      <meta name="viewport" content="minimum-scale=1.0, maximum-scale=1.0,width=device-width, user-scalable=no">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <!--responsive-meta-end-->
      <link href="css/bootstrap.min.css" rel="stylesheet" />
	   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
      <link href="css/fontawesome-all.min.css" rel="stylesheet"/>
      <link rel="stylesheet" href="css/owl.carousel.min.css" rel="stylesheet"/>
      <link rel="stylesheet" href="fonts/remixicon.css" rel="stylesheet"/>
      <link rel="stylesheet" href="css/fontawesome-all.css" rel="stylesheet"/>
      <link rel="stylesheet" href="css/fontawesome.css" rel="stylesheet"/>
      <link rel="stylesheet" href="css/style.css" rel="stylesheet"/>
      <link rel="stylesheet" href="css/responsive.css" rel="stylesheet"/>
       <img style=""src="{% static 'images/logo1.png' %}" alt="logo" />
   </head>
   <body>