<?php include("header-inner.php"); ?>

   <div class="wrapper-inner bg-sky">
   
      <section class="outer-table-space">
            <div class="container">
               <div class="table-dash-box">
                  <div class="table-heading-bx">
                     <h2>Post a New Shift</h2>
                     <div class="form-group d-flex">
                         <label class="form-label">Select Number of Sifts</label>
                         <select class="form-select" aria-label="Default select example">
                           <option selected="">6</option>
                           <option value="1">8</option>
                           <option value="2">7</option>
                           <option value="3">9</option>
                         </select>
                     </div>
                  </div>
                  <div class="table-responsive-md">
                     <table class="table">
                       <thead>
                         <tr>
                           <th>Sr no.</th>
                           <th>Date</th>
                           <th>Time In</th>
                           <th>Time Out</th>
                           <th>Select Position</th>
                           <th>Wages Multiplier</th>
                           <th>Instruction</th>
                         </tr>
                       </thead>
                       <tbody class="tb_input_box">
                           <tr>
                              <th>1.</th>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="date" class="form-control" placeholder="10 Feb 2022">
                                        <img src="images/date-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="time" class="form-control" placeholder="11:20AM">
                                        <img src="images/clock-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="time" class="form-control" placeholder="2:30PM">
                                        <img src="images/clock-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                     <select class="form-select" aria-label="Default select example">
                                       <option selected="">Abc</option>
                                       <option value="1">Abc</option>
                                       <option value="2">Abc</option>
                                     </select>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="x1">
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="There are many variations of passages ">
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <th>2.</th>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="date" class="form-control" placeholder="10 Feb 2022">
                                        <img src="images/date-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="time" class="form-control" placeholder="11:20AM">
                                        <img src="images/clock-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="time" class="form-control" placeholder="2:30PM">
                                        <img src="images/clock-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                     <select class="form-select" aria-label="Default select example">
                                       <option selected="">Manager</option>
                                       <option value="1">Manager</option>
                                       <option value="2">Manager</option>
                                     </select>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="x1">
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="There are many variations">
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <th>3.</th>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="date" class="form-control" placeholder="10 Feb 2022">
                                        <img src="images/date-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="time" class="form-control" placeholder="11:20AM">
                                        <img src="images/clock-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="time" class="form-control" placeholder="2:30PM">
                                        <img src="images/clock-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                     <select class="form-select" aria-label="Default select example">
                                       <option selected="">Developer</option>
                                       <option value="1">Developer</option>
                                       <option value="2">Developer</option>
                                     </select>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="x1">
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="There are many variations of passages">
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <th>4.</th>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="date" class="form-control" placeholder="10 Feb 2022">
                                        <img src="images/date-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="time" class="form-control" placeholder="11:20AM">
                                        <img src="images/clock-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="time" class="form-control" placeholder="2:30PM">
                                        <img src="images/clock-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                     <select class="form-select" aria-label="Default select example">
                                       <option selected="">Abc</option>
                                       <option value="1">Abc</option>
                                       <option value="2">Abc</option>
                                     </select>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="x1">
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="There are many variations">
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <th>5.</th>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="date" class="form-control" placeholder="10 Feb 2022">
                                        <img src="images/date-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="time" class="form-control" placeholder="11:20AM">
                                        <img src="images/clock-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="time" class="form-control" placeholder="2:30PM">
                                        <img src="images/clock-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                     <select class="form-select" aria-label="Default select example">
                                       <option selected="">Lorem</option>
                                       <option value="1">Lorem</option>
                                       <option value="2">Lorem</option>
                                     </select>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="x1">
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="There are many variations of passages ">
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <th>6.</th>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="date" class="form-control" placeholder="10 Feb 2022">
                                        <img src="images/date-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="time" class="form-control" placeholder="11:20AM">
                                        <img src="images/clock-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <div class="form-group-icon">
                                        <input type="time" class="form-control" placeholder="2:30PM">
                                        <img src="images/clock-icon.svg">
                                     </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                     <select class="form-select" aria-label="Default select example">
                                       <option selected="">Lorem</option>
                                       <option value="1">Lorem</option>
                                       <option value="2">Lorem</option>
                                     </select>
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="x1">
                                 </div>
                              </td>
                              <td>
                                 <div class="form-group">
                                    <input type="text" class="form-control" placeholder="There are many variations of passages ">
                                 </div>
                              </td>
                           </tr>
                       </tbody>
                     </table>
                      <button type="button" class="btn">Submit</button>
                  </div>
               </div>
            </div>
      </section>

   </div>

<?php include("footer.php"); ?>