{% extends 'basefile/base.html'%}
{% load static %}
{% block content %}
   <div class="wrapper-inner bg-sky">
    
      <section class="noti_content_sec">
         <div class="container">
            <div class="head-line-sd">
               <h2>Notifications</h2>
            </div>
            <div class="form-box-out list-of-notification">
               <div class="notification_col_sec">
                     <div class="days-show">
                         <h6>Today</h6>
                     </div>
                     <ul>
                        <li>
                           <figure>
                               <i class="ri-notification-3-fill"></i>
                           </figure>
                           <figcaption>
                               <p>Lorem Ipsum is simply dummy</p>
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                               <span class="time-show">11:30AM</span>
                           </figcaption>
                        </li>
                        <li>
                           <figure>
                               <i class="ri-notification-3-fill"></i>
                           </figure>
                           <figcaption>
                               <p>It is a long established fact that a rea....</p>
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                               <span class="time-show">10:30AM</span>
                           </figcaption>
                        </li>
                     </ul>
               </div>

               <div class="notification_col_sec">
                     <div class="days-show">
                         <h6>Yesterday</h6>
                     </div>
                     <ul>
                        <li>
                           <figure>
                               <i class="ri-notification-3-fill"></i>
                           </figure>
                           <figcaption>
                               <p>Lorem Ipsum is simply dummy</p>
                               <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                               <span class="time-show">4:30AM</span>
                           </figcaption>
                        </li>
                        <li>
                           <figure>
                               <i class="ri-notification-3-fill"></i>
                           </figure>
                           <figcaption>
                               <p>It is a long established fact that a rea....</p>
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                               <span class="time-show">4:30AM</span>
                           </figcaption>
                        </li>
                        <li>
                           <figure>
                               <i class="ri-notification-3-fill"></i>
                           </figure>
                           <figcaption>
                               <p>It is a long established fact that a rea....</p>
                               <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,.</p>
                               <span class="time-show">11:30AM</span>
                           </figcaption>
                        </li>
                     </ul>
               </div>

               <div class="notification_col_sec">
                     <div class="days-show">
                         <h6>Jan 30, 2022</h6>
                     </div>
                     <ul>
                        <li>
                           <figure>
                               <i class="ri-notification-3-fill"></i>
                           </figure>
                           <figcaption>
                               <p>Lorem Ipsum is simply dummy</p>
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                               <span class="time-show">12:30PM</span>
                           </figcaption>
                        </li>
                        <li>
                           <figure>
                               <i class="ri-notification-3-fill"></i>
                           </figure>
                           <figcaption>
                               <p>It is a long established fact that a rea....</p>
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                               <span class="time-show">11:30PM</span>
                           </figcaption>
                        </li>
                     </ul>
               </div>

               <div class="notification_col_sec">
                     <div class="days-show">
                         <h6>Jan 30, 2022</h6>
                     </div>
                     <ul>
                        <li>
                           <figure>
                               <i class="ri-notification-3-fill"></i>
                           </figure>
                           <figcaption>
                               <p>Lorem Ipsum is simply dummy</p>
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                               <span class="time-show">12:30PM</span>
                           </figcaption>
                        </li>
                        <li>
                           <figure>
                               <i class="ri-notification-3-fill"></i>
                           </figure>
                           <figcaption>
                               <p>It is a long established fact that a rea....</p>
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                               <span class="time-show">11:30PM</span>
                           </figcaption>
                        </li>
                     </ul>
               </div>
            </div>
         </div>
      </section>

   </div>

{% include 'footer.html' %}
{% endblock content %}
