{% extends 'basefile/base.html' %}
{% load static %}
{% block content %}

   <div class="wrapper-inner bg-sky">
   
      <section class="from-wrap">
         <div class="form-box-out">
            <div class="container">
               <div class="row">
                  <div class="col-md-7">
                     <div class="user_forms_content">
                        <div class="head-line">
                           <h2>Password Reset Form</h2>
                        </div>
                      {% if messages %}

          <div class="table-responsive">
            {% for message in messages %} {% if message.tags == 'success'%}
            <div class="alert alert-success">
              {{message}} {% elif message.tags == 'error' %}
              <div class="alert alert-danger">{{message}} {% endif %}</div>

              {% endfor %} {% endif %}
                        <form method="POST" >
                           {% csrf_token %}
                           
                            <div class="form-group">
                              <label for="exampleInputEmail1" class="form-label">New password</label>
                              <input required type="password" id="newpassword" onkeyup="check_password()" name="new-password" class="form-control" placeholder="Enter your New password">
                           </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1" class="form-label">Confirm new password</label>
                              <input required type="password" id="Cnewpassword" onkeyup="check_password()" name="confirm-new-password" class="form-control" placeholder="Enter your Confirm new password">
                           </div>
                                
                           <div class="forgot-pass">
                              <button type="submit" id="sbbtnn" class="btn">Submit</button>
                           </div>
                        </form>
                     </div>
                  </div>
                  <div class="col-md-5">
                     <div class="login-banner">
                        <img src="{%static 'images/forgot-banner.png' %}">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

   </div>

{% include "footer.html" %}
<script>

function check_password(){
    let p = $('#newpassword').val();
    console.log(p);
    let cp = $('#Cnewpassword').val();
  
    if (p==cp){
        $('#newpassword').css("border","1px solid green ");
        $('#Cnewpassword').css("border","1px solid green ");
        $('#sbbtnn').removeAttr("disabled")

    }else{
        $('#newpassword').css("border","1px solid red ");
        $('#Cnewpassword').css("border","1px solid red ");
        
        $('#sbbtnn').attr("disabled", "disabled")

    }



}
</script>
<script>
  setTimeout(() => {
    $('.alert').fadeOut('fast');
  }, 3000);
</script>
{% endblock content %} 