{% extends 'base/base.html' %}
{% load static %}
{% block content %}


{% include 'base/header.html'%}


 <div class="admin-inner-panel">
    <div class="admin-inner-left">
        {% include 'base/navbar.html' %}
    </div>
    <div class="admin-inner-right">
             <div class="card" style="width:98%;">

          <div class="card-body ">
            <h4 class="card-title">About Us / List</h4>
              <h3 style="color:red">{{u}}</h3>
            
        
                {% comment %} <a href="/admin/email/add/"
                        class="btn btn-inverse-dark btn-fw"
                        style="text-align: right; margin-left: 1300px;"> Create  </a> {% endcomment %}
 <div class="table-responsive">
  <table class="table">

   <thead>
                                    <tr>
                                        <th>
                                            Sr No.
                                        </th>
                                        <th>
                                             Name
                                        </th>
                                         <th>
                                             slug
                                        </th>
                                        <th>
                                            discriptin
                                        </th>
                                       
                                        <th>
                                        Action
                                    </th>

                                    </tr>
                                </thead>

                                <tbody>
                                    {% for i in about %}
                         
                                     {% if i.soft_del_status == 0 %}

                                    <tr>

                                        <td>
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            {{i.title}}

                                        </td>
                                         <td>
                                            {{ i.slug }}
                                        </td>
                                        
                                        
                                        <td>


                                            {{i.discripion|safe|truncatechars:15}}
                                        </td>
                                       
                                        <td>

                                            <a class="btn btn-inverse-success btn-fw"
                                                href="/admin/aboutus/edit/{{i.slug}}">Edit</a>

                                            <!-- <a class="btn btn-danger btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u "
                                                href="/admin/del_email_tem/{{i.slug}}"
                                                onclick="return confirm('Are you sure you want to delete this item')">Delete</a> -->
                                        </td>


                                    </tr>
                                    {% else %}
                                    {% endif %}
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>




























<script>
    setTimeout(() => {
        $('.alert').fadeOut('fast');
    }, 3000);
</script>




    {% endblock content %}