{% extends 'base/base.html' %}
{% load static %}
{% block content %}
{% include 'base/header.html'%}

<div class="main-panel">   
     <div class="container-fluid">

     
   
      <div class="row">
          <div class="col-md-2 " style="margin-top:95px ;">
            {% include 'base/navbar.html' %}

          </div>

        <div class="col-md-10"style="margin-top:120px ;">
          <div class="card">
            <div class="card-body" >
              <h4 class="card-title">Change Password</h4>
              <p class="card-description">
              {% if messages %}
              
              <div class="table-responsive">
                {% for message in messages %}
                {% if message.tags == 'success'%}
                <div class="alert alert-success">
                  {{message}}
                  {% elif message.tags == 'error' %}
                  <div class="alert alert-danger">
                    {{message}}
                    {% endif %}
                  </div>
              
                  {% endfor %}
                  {% endif %}
              </p>
              <form class="forms-sample" id="change_pass" method ="POST" >
                  {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputUsername1">Old Password</label>
                  <input type="password" name = 'Cpwd' class="form-control" id="exampleInputUsername1"  placeholder="Old password">
                </div>
               
                <div class="form-group">
                  <label for="exampleInputPassword1">New Password</label>
                  <input type="password" name = 'Npwd' class="form-control" onkeyup="check_pas()" id="newpas" placeholder="New Password">
                </div>
                <div class="form-group">
                  <label for="exampleInputConfirmPassword1">Confirm New Password</label>
                  <input type="password" name = 'Cnpwd' class="form-control" onkeyup="check_pas()"  id="Cnewpas" placeholder="Confirm New Password">
                </div>
                
                <button id="sbbtn"  type="submit" class="btn btn-primary me-2">Submit</button>
                <!-- <button class="btn btn-light">Cancel</button> -->
              </form>
            </div>
          </div>
        </div>
    </div>
  
    </div>
    </div>
   <script>
     setTimeout(() => {
     $('.alert').fadeOut('fast');
     }, 3000);
   </script>
        {% endblock content %}