{% extends 'base/base.html' %}

{% block content %}
<br>
{% if messages %}

<div class="table-responsive">
  {% for message in messages %}
  {% if message.tags == 'success'%}
  <div class="alert alert-success">
    {{message}}
    {% elif message.tags == 'error' %}
    <div class="alert alert-danger">
      {{message}}
      {% endif %}
    </div>

    {% endfor %}
    {% endif %}
<div class="container content-wrapper">
  <h2>Hi {{userdata.0.username}}</h2>
  <h4 class="card-title">Change your password </h4>

  <form class="forms-sample" method="POST">
    {% csrf_token %}
        <input type="hidden" value="{{userdata.0.OTP_string}}" class="form-control" id="" name="us"
            placeholder="">
                <input type="hidden" value="{{userdata.0.reset_time_link}}" class="form-control" id="" name="reset_time" placeholder="">

      <input type="hidden" value="{{userdata.0.email}}" class="form-control" id="exampleInputEmail1" name="email" placeholder="email">

    <div class="form-group">
      <label for="exampleInputEmail1" class="">new password</label>
      <input type="password" class="form-control" id="exampleInputEmail1" name="newpassword" placeholder="new password">
    </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="">confirm password</label>
        <input type="password" class="form-control" id="exampleInputEmail1" name="confirmpassword" placeholder="confirm password">
      </div>

    <button type="submit" class="btn btn-primary me-2">Set password</button>

    <!-- <button class="btn btn-light">Cancel<g/button> -->
  </form>
</div>
{% endblock content %}